<div class="card w-100 mt-5" style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: rgb(202, 202, 202);">
  <div class="card-header text-center ">
    <p> 2023 &#169; All rights reserved | Rajendra Sarak</p>
  </div>
</div>
